[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.2.8"
django-crispy-forms = "==2.1"
crispy-bootstrap4 = "==2023.1"
pillow = "==10.1.0"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.9"
