{% extends "layout.html" %}
{% block content %}
    <header>
        
        {% if current_user.is_authenticated %}
            <a href="{{ url_for('account') }}">Account Page</a>
            <a href="{{ url_for('logout') }}">Log Out</a>
        {% else %}
            <a href="{{ url_for('register') }}">Register</a>
            <a href="{{ url_for('login') }}">Log In</a>
        {% endif%}
    </header>
    <p>
        Home is here
    </p>
    {% for post in posts %}
        <h1>{{post.author}}</h1>
        <p>{{post.title}}</p>
        <p>{{post.content}}</p>
    {% endfor %}
{% endblock content %}
